<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"  href="../css/index.css" type="text/css">
    <title>Pleasant Pets</title>
  </head>

  <body>
     <% for(let i=0; i < array.length; i++) {%>
        <div class="card">
            <span>Net: </span>
            <img src="<%= array[i] %>" alt="">
            <div>
              <button class="upVote">up vote <span class="upValue">0</span></button>
              
              <button class="downVote">down vote <span class="downValue">0</span></button>
            </div>
        </div>


     <% } %>
  </body>
  <script type="text/javascript" src="../js/voting.js"></script>
</html>