
body {
    background-color: rgb(245,231,209);
}

button {
    font-size: 25px;
    display: flex;
}
section, div { 
    display: flex;
    justify-content: center;
}

.filler {
    display: flex;
    width: 20%;
}

.main_container {
    display: flex; 
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
}

.music {
    display: flex;
    color: rgb(186,115,56);
    padding: 10px;
    background-color:rgb(213,176,141);
    border: 5px solid rgb(186,115,56); 
    max-width: 10%;
    font-size: 25;
    font-weight: bold;
}

/* inspiration for the site design came from @stesilart on etsy  */