
button {
    font-size: 25px;
}
section, div { 
    display: flex;
    justify-content: center;
}

body {
    display:flex;
    background: rgb(206,88,238);
    background: linear-gradient(0deg, rgba(206,88,238,1) 0%, rgba(2,0,36,1) 75%);
    margin: 100px 50px; 
}

.music {
    display: flex;
    color: rgb(133,25,191);
    padding: 10px;
    background-color: rgb(206,244,210);
    border: 8px solid rgb(103, 150, 108); 
    max-width: 30%;
    font-size: 25;
    font-weight: bold;
}

/* inspiration for the site design came from @stesilart on etsy  */