
button {
    font-size: 25px;
}
section, div { 
    display: flex;
    justify-content: center;
}

.filler {
    display: flex;
    width: 20%;
}

.main_container {
    display: flex; 
    flex-direction: column;
    margin: 10px auto;
}

.music {
    display: flex;
    color: rgb(133,25,191);
    padding: 10px;
    background-color: rgb(206,244,210);
    border: 8px solid rgb(103, 150, 108); 
    max-width: 30%;
    font-size: 25;
    font-weight: bold;
}

/* inspiration for the site design came from @stesilart on etsy  */